body {background:#fcfcfc;font-family: 'Oxygen', sans-serif;}
ul { list-style: none; }
#recordingslist audio { display: block; margin-bottom: 10px; }

#form {overflow:hidden;width:300px;margin:0 auto;margin-top:30px;background:#f7f7f7;box-shadow:#aaa 0px 2px 15px -1px;border:1px solid #ddd}
#form h1 {margin:0;padding:0;margin-bottom:15px;font-size:28px;letter-spacing:-1px;text-shadow:#fff 1px 1px 0px;font-weight:normal;}
#form .pos {position:relative}
#form .inner {padding:15px}
#form input, #form textarea {padding:8px;font-family: 'Oxygen', sans-serif;font-size:14px;border:1px solid #eee;width:250px;margin-bottom:10px;}
#form textarea {resize:none;height:80px;}
#form .buttons {background:#f1f1f1;border-top:1px solid #ddd}

.-button {margin-right:5px;cursor:pointer;display: inline-block;line-height: 1em;padding: 6px 13px;border: 1px solid #4081af;border-bottom-color: #20559a;color: white !important;text-align: center;text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);text-decoration: none !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color: #237fd7;background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #52a8e8),color-stop(1, #2e76cf));background: -moz-linear-gradient(center top,#52a8e8 20%,#2e76cf 100%);-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3),	inset 0 0 2px hsla(0,100%,100%,.3), 	0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;}
.-button:hover, .-button.hover, .-button.active {text-decoration: none !important;background: #0073d2;background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #3e9ee5),color-stop(1, #1666ca));background: -moz-linear-gradient(center top,#3e9ee5 20%,#1666ca 100%);}
.-button:active, .-button.active  {border-color: #20559a;/*Box shadow*/-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;}
.-button.silver { color: #444 !important;text-shadow:0 1px #fff;border-color: #bbb; border-bottom-color: #999; background-color: #d8d8d8;background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #ccc));background: -moz-linear-gradient(center top,#e9e9e9 20%,#ccc 100%);}
.-button.silver:hover { background: #ccc;background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e0e0e0),color-stop(1, #bebebe));background: -moz-linear-gradient(center top,#e0e0e0 20%,#bebebe 100%);}

#recordUI {display:none;position:absolute;bottom:0;left:0;right:0;height:0px;background:rgba(0,0,0,0.9);border-top:1px solid #000;box-shadow:#666 0 -2px 15px -1px;}
#recordUI .pinner {position:relative}
#recordUI .mic {position:absolute;width:100px;height:100px;top:50px;left:50%;margin-left:-50px;background:url(mic.png) no-repeat center center #777;border-radius:100px;-moz-border-radius:100px;-webkit-border-radius:100px;}
#recordUI .text {color:#fff;text-align:center;text-shadow:#000 1px 1px 1px;margin-top:150px;padding:20px}
#recordUI .voice {position:absolute;width:150px;height:150px;top:25px;left:50%;margin-left:-75px;}

#log {display:none}
#recordArea audio {margin-top:10px;width:267px}

#block {display:none;position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(250,250,250,0.8)}
#postanim {display:none;width:80px;height:80px;position:absolute;top:50%;left:50%;margin-left:-40px;margin-top:-40px}
